*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* fonts */
}

body{
    /* color: white;
    background-color: #0D0D0D; */

    background: linear-gradient(#0D0D0DF2),
    url(./unsplash_qom5MPOER-I.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #0D0D0DF2;
}


@font-face{
    font-family: "Inter", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
}


@font-face {
    font-family: "Great Vibes";
    src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}


:root{
    --orange-color: #FF9F0D; 

    /* --container-width: 1100px; */
    --container-padding-x: 300px

    --transition-duration: 0.2s;

    --container-width: 1320px
}


li{
    list-style: none;
}


a{
    text-decoration: none;
    color: #FFFFFF;  
    display: inline-block;
    transition: 0.3s ease;
}


a:hover{
    color:#FF9F0D;
    /* transform: scale(1.1); */
    .orange-text{
        color: white;
    }

}


::selection {
    color:#FFFFFF;
    background-color: #FF9F0D;
}


.container{
    width: 100%;
    /* position: relative; */
    margin: auto;
    /* margin-inline: auto; */
    /* padding-inline: var(--container-padding-x); */
    /* max-width: calc(var(--container-width) + var(--container-padding-x) * 2); */
    max-width: min(1320px, 90%);
    border: 1px solid #ffffff;
    margin-block-end: 10%;
}


/* Header */

.submit-button{
    border: none;
  height: 26px;
  width: 26px;
  background: #F15B42;
  cursor: pointer;
}


.text{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
}


.pre_title{
    font-family: "Great Vibes";
    color: var(--orange-color);
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 40px;
}


.title{
    /*font Helvetica */
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
}


.orange-text{
    color: var(--orange-color);
    transition: 0.3s ease;
}


.header{
    /* margin: 45px; */
    margin-inline: auto;
    max-height: 87px;
    margin-top: 2.5%;
}


.header__block{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
}


/* background-size: cover */

.header__logo{
    position: absolute;
    left: 50%;
    /* top: 45px; */
    transform: translateX(-50%);
    /* color: #FFFFFF; */
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    max-width: 109px;

    font-size: 24px;
    font-weight: 600;
}


/* 
.header__block-bottom{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    display: flex;
    align-items: center; по горщионтали 
    justify-content: space-between;  элементы по вертикали0
    gap: 25%;
} */


.header__nav{
    position: relative;
    display: flex;
    flex-direction: row;
    
    align-items: center;/* по горщионтали */
    justify-content: space-between; 
    column-gap: 5%;

    margin-top: 28px;

    /* padding-top: ; */
}

.header__nav-list{
    display: flex;
    gap: 32px;

    /* padding: 16px 0 15px; */
}


.header__nav-list li{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 230;
    font-style: normal;
    letter-spacing: 0%;
    line-height: 24px;
    font-size: 16px;
}


.header__actions{
    display: flex;
    align-items: center;
    gap: 3%;
}


.header__search{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 310px;
    max-height: 54px;
    height: 54px;
    width: 310px;
    
    border: 1px solid var(--orange-color);
    border-radius: 27px;
    background: none;
    padding-left: 26px;
    color: #FFFFFF;
}


.header__search-input{
    background: none;
    color: #FFFFFF;
    border: none;
}


.header__search-input:focus{
    border: none;
    outline: none;
}

/* input:focus { outline: none; border: none; } */

::placeholder{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 230;
    font-style: normal;
    letter-spacing: 0%;
    line-height: 24px;
    font-size: 16px;    
}


.header__search-button{
    background: none;
    border: none;
    margin-right: 26px;
}


/* Main */


.hero{
    height: 100vh;
    
    display: flex;
    justify-content: center;

    align-items: center;

    margin-top: -5%;
}


.hero__socials{
      /* position: absolute; 
      top: 30%; */
      max-width: 2%;
      padding-left: 20px;
      margin-left: -5%; 
      /* margin-top: -10%; */
      display: grid;
      justify-items: start;
      row-gap: 2.4rem;
      opacity: 0;
      visibility: hidden;

      align-items: center;




      @media only screen and (min-width: 64rem) {
         opacity: 1;
         visibility: visible;
      } 
    /* flex-direction: column; */
}


.hero__socials-links{
    display: grid;
    row-gap: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-left: -5px;
}


.hero__content{
    width: 100%;
    height: 100%;
    max-height: 356px;
    max-width: 472px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    /* justify-content: center; */
    /* align-items: center; */
}


.hero__topic{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.hero__title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 68px;
}

/* About Us */

.about{
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    gap: 30px;
}

.about__list li{
    list-style-type: disc;
}

.about__info{
    /* width: 100%; */
    width: 562px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* max-width: 562px; */
}

.titles{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__img-block{
    max-width: 660px;
    /* display: grid;
    grid-area: 16px;
    grid-template-columns: auto; */
}

/* Choose */

.choose{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 56px;

}

.choose__img-block{
    display: block;
    gap: 30px;
    width: 100%;
}



.choose__img{
    margin: 1% 1%;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 25%;
    height: 100%;
    max-height: 329px;
}






@media (max-width: 1400px){

    .container{
        width: 91%;
        border-color: #ff0000;
    }

    .hero__socials{
        /* left: 2% */
    }
}














